---

---

html {
  cursor: url(https://i.imgur.com/T9unGNV.png), auto !important;
}

#everything {
  position: absolute;
    z-index: 100;

    ul {
      position:relative;
    }
}

img {
    position: fixed;
    width: 50px;
    height: 50px;
    top: 4%;
    left: 50%;
    margin-top: -2px;
    margin-left: -29px;
  }

#container {
    ul {
      position: fixed;
      top: 10%;
      left: 72%;
      margin-top: -29px;
      margin-left: -29px;

      @media (min-width: 600px) {
          left: 91%;
        }
    }
}
//
// ul {
//   display:block;
//   list-style: none;
//   margin-bottom: 4em;

  li {
    display: inline
    // width: 400px;
    // height: 400px;
  }

a {
  color: white;
  text-decoration: none;
  &:hover {
    color: yellow;
  }
}

#top-logo {
  position: fixed;
  top: 6%;
  left: 3%;

  @media (min-width: 600px) {
      top: 5%;
    }

  h1 {
    font-family: "Archivo Black", sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: white;
  }
}

#mission {
  position:fixed;
  top: 18%;
  left: 10%;
  margin-top: -29px;
  margin-left: -29px;

  @media (min-width: 600px) {
      left: 5%;
    }

  h2 {
    font-family: "Helvetica Neue";
    font-weight: normal;
    font-size: 24px;
    line-height: 10px;
    color: white;
  }

}

#upcoming {
    text-align: right;
    position:fixed;
    top: 35%;
    left: 72%;
    margin-top: -29px;
    margin-left: -29px;

    h1 {
    font-family: "Archivo Black", sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: yellow;
    }

    p {
      font-family: "Helvetica Neue", sans-serif;
      font-size: 12px;
      font-weight: normal;
      color: rgba(255, 255, 255, 0.75);
    }

    a {
      color: white;
      text-decoration: none;
      &:hover {
        color: yellow;
      }
    }

    @media (min-width: 600px) {
        left: 91%;
      }
  }

#slogan {
  position: fixed;
  top: 60%;

  @media (min-width: 600px) {
      left: 3%;
    }

  p {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 24px;
    font-weight: normal;
    line-height: 1.5;
    color: white;
  }
}

.blinking {
  	animation:blinkingText 1.9s infinite;
  }

  @keyframes blinkingText {
  	0%{		color: #fff;	}
    10%{	color: #fff;	}
  	20%{	color: transparent;	}
  	40%{	color: transparent;	}
    70%{	color: #fff;	}
  	80%{	color: #fff;	}
    100%{	color: #fff;	}
  }

#identity {
    position:fixed;
    top: 85%;
    left: 10%;
    margin-top: -29px;
    margin-left: -29px;

    @media (min-width: 600px) {
        left: 5%;
        top: 87%;
      }

    h1 {
    font-family: "Archivo Black", sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: white;
    }

    p {
      font-family: "Helvetica Neue", sans-serif;
      font-size: 12px;
      font-weight: normal;
      color: rgba(255, 255, 255, 0.75);
    }
  }

#invited {
    font-family: "Archivo Black", sans-serif;
    font-size: 14px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    &:hover {
      color: yellow;
  }
}

// slideshow starts

.cb-slideshow, .cb-slideshow:after {
    position: static;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0;
  }

// .cb-slideshow:after {
//     content: '';
//     background: transparent url(../images/pattern.png) repeat top left;
//   }

  .cb-slideshow li span {
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0px;
      left: 0px;
      color: transparent;
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: none;
      opacity: 0;
      z-index: 0;
      animation: imageAnimation 18s linear infinite 0s;
      animation-duration: 18s;
  }

  // .cb-slideshow li div {
  //     // z-index: 1000;
  //     // position: relative;
  //     bottom: 30px;
  //     left: 0px;
  //     width: 100%;
  //     text-align: center;
  //     opacity: 0;
  //     color: #fff;
  //     animation: titleAnimation 36s linear infinite 0s;
  // }

  .cb-slideshow li div h3 {
      font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
      font-size: 240px;
      padding: 0;
      line-height: 200px;
  }

  .cb-slideshow li:nth-child(1) span {
      background-image: url(https://i.imgur.com/Dbhbllg.jpg);
  }
  .cb-slideshow li:nth-child(2) span {
      background-image: url(https://i.imgur.com/hODVHcg.jpg);
      animation-delay: 4s;
  }
  .cb-slideshow li:nth-child(3) span {
      background-image: url(https://i.imgur.com/MlvJnwt.png);
      animation-delay: 8s;
  }
  .cb-slideshow li:nth-child(4) span {
      background-image: url(https://i.imgur.com/sMMvokG.png);
      animation-delay: 10s;
  }


@keyframes imageAnimation {
  0% { opacity: 0; animation-timing-function: ease-in; }
  6% { opacity: 1 }
  17% { opacity: 1 }
  25% { opacity: 1 }
  35% { opacity: 1 }
  50% { opacity: 0 }
  75% { opacity: 0 }
  100% { opacity: 0 }
    }

.no-cssanimations .cb-slideshow li span {
    opacity: 1;
  }

@media screen and (max-width: 1140px) {
    .cb-slideshow li div h3 { font-size: 140px }
  }
@media screen and (max-width: 600px) {
    .cb-slideshow li div h3 { font-size: 80px }
  }
