<!DOCTYPE html>
<html lang="en">
  <head>
    <head profile="http://www.w3.org/2005/10/profile">
    <link rel="icon" type="image/png" href="https://i.imgur.com/2dlnDno.png">
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/reset.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>OFF-BEAT</title>
  </head>
    <body>
      <div id="everything">
      <div id="logo">
        <img src="assets/photos/yellow_dot.png" alt="yellow dot">
      </div>
      <div id="container">
            <ul>
              <li><a href="https://www.instagram.com/thisis.offbeat/" class="fab fa-instagram fa-2x fa-fw"></a></li>
              <li><a href="mailto:info@thisisoffbeat" class="far fa-envelope fa-2x"></a></li>
            </ul>
      </div>
      <div id="top-logo">
          <h1>OFFBEAT</h1>
      </div>
      <div id="mission">
          <h2>Connecting the World to</h2>
          <h2>underground dining culture,</h2>
          <h2>on & off screen.</h2>
      </div>
      <div id="upcoming">
          <h1>UPCOMING</h1>
          <p>Night Street Market 02</p>
          <p>01 December 2018</p>
          <p>10:00PM - 03:00AM</p>
          <br>
          <p>Food under $7</p>
          <p>Drinks under $10</p>
          <a href="https://openlatenight.splashthat.com/" id="invited" class="blinking">BECOME INVITED</a>
    </div>
    <div id="slogan">
      <p>Explore the gap<br>Between space & taste</p>
    </div>
    <div id="identity">
        <h1>OFFBEAT</h1>
        <p>An independent food & culture platform</p>
        <p>dedicated to producing events that showcase</p>
        <p>international cuisine and chefs from around the globe.</p>
      </div>
      </div>
      <ul class="cb-slideshow">
  	<li>
  		<span>Image 01</span>
  	</li>
  	<li>
      <span>Image 02</span>
    </li>
    <li>
      <span>Image 03</span>
    </li>
    <li>
      <span>Image 04</span>
    </li>
  </ul>
    </body>
</html>
